<div class="container my-5">
  <div class="card">
    <p>This Email is from <%= @user.name %></p>
    <p>Admin of Patient and Isolation Management System</p>

    <p>If you want to sign up, Please follow this link: <%= link_to 'Click Here for sign Up', @url %> </p>

    <p>Advance Thanks for joining and have a great day!</p>
  </div>
</div>