<div class="container my-5">
  <div class="card">
    <center>
      <h2>Patient and Isolation Center Management System</h2>
      <%= link_to 'Show Facility',
          facilities_path,
          class: "nav-link" %>
      <%= link_to 'Show Patients',
          patients_path,
          class: "nav-link" %>
      <%= link_to 'Show All Admin',
          users_path,
          class: "nav-link" %>
      <%= link_to 'Show Announcements',
          announcements_path,
          class: "nav-link" %>
    </center>
  </div>
</div>
