<div class="container my-5">
  <div class="card">
    <div class="card-header">Send Invitation to Facility Admin<%= link_to('Back', root_path, class: "btn btn-primary float-right btn-sm") %></div>
    <div class="card-body">
      <%= render('form', invitation: @invitation) %>
    </div>
  </div>
</div>
