<div class="container my-5">
  <div class="card">
    <div class="card-header">Transfer a Patient</div>
    <div class="card-body">
      <%= render('form', transfer: @transfer) %>
    </div>
  </div>
</div>
